<a href="https://colab.research.google.com/github/ardcreator/Python_DataAnalyst/blob/main/python_dataset2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**[ DOKUMENTASI PYTHON DATASET 2 ]**
> Section Data Cleansing !\
> Date | 01 Oktober 2024 \
> Link Dataset : https://drive.google.com/file/d/1wHXrLeZnj_C2ABqxxCvm0Txtc__PzaAe/view?usp=sharing

Nama : MUH. ASHARI RASYID \
Class : Data Analyst 1 MIKTI \
Pemateri : Kak Fadhlan \
Biopage : Klik > [My Biopage](https://bio.asharirasyid.my.id)

# Test Data IMDB.csv

## 1.Import Data

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Buka Gdrive
from google.colab import drive
drive.mount('/content/drive')

# Import Data
df = pd.read_csv('/content/drive/MyDrive/MIKTI/Dataset/IMDB.csv')
df

## 2.Hilangkan Kolom gak di pakai

In [ ]:
df2 = df.drop(['color', 'language'], axis=1, inplace=False)
df2

## 3.Info Data

In [ ]:
df2.info()

## 4.Info Statistic

In [ ]:
df2.describe()

## 5.Cek Data Kosong dimana saja

In [ ]:
# Cek value yang kosong di semua kolom
missing_values = df2.isnull().sum()
missing_values_sum = df2.isnull().sum().sum()
print(missing_values)
print('Jumlah Kosong : ' + missing_values_sum.astype(str))
print('')

# Tampilkan index yang memiliki value kosong
for column in df2.columns:
  if df2[column].isnull().any():
    print(f"Kolom '{column}' memiliki nilai kosong pada index:")
    print(df2[df2[column].isnull()].index.tolist())

## 6.Cek Array data di Kolom Director Name

In [ ]:
df2['director_name'].unique()

### a.Ganti Teks Data Kosong menjadi String Kosong

In [ ]:
df2['director_name'] = np.where(df2['director_name'] == 'Nan', '-', df2['director_name'])
df2['director_name'] = np.where(df2['director_name'] == 'Null', '-', df2['director_name'])
df2['director_name'] = np.where(df2['director_name'].isnull(), '-', df2['director_name'])
df2['director_name'].unique()

In [ ]:
# Cek data kosong di Director Name
df2['director_name'].isnull().sum()

## 7.Plot Design Duration

In [ ]:
plt.boxplot(df2['duration'])

### a.Tampilkan Data Duration dan Hapus -50

In [ ]:
df2['duration'].unique()

In [ ]:
df2 = df2[df2.duration != -50] #tidak ambil -50
df2['duration'].unique()

## 8.Hilangkan Data Kosong Gross

In [ ]:
pd.set_option('display.max_rows', None)
df2['gross']

In [ ]:
df2['gross'].fillna(0, inplace=True)

pd.set_option('display.max_rows', None)
df2['gross']

In [ ]:
# Cek Data Kosong
df2['gross'].isnull().sum()

## 9.Hilangkan data kosong Genres dan Budget

In [ ]:
pd.set_option('display.max_rows', None)
df2[['genres', 'budget']]

In [ ]:
df2['genres'].fillna('-', inplace=True)
df2['budget'].fillna(0, inplace=True)
df2['genres'] = df2['genres'].str.replace('|',',')

pd.set_option('display.max_rows', None)
df2[['genres', 'budget']]

## 10.Ubah data Years

In [ ]:
df2['title_year'].unique()

In [ ]:
df2['title_year'] = df2['title_year'].replace({202: 2002, 205: 2005})
df2['title_year']

## 11.Ubah data IMDB Score

In [ ]:
df2['imdb_score'].unique()

In [ ]:
# prompt: ambil data tanpa -1.2

df2 = df2[df2.imdb_score != -1.2]
df2['imdb_score'].unique()

## 12.Ubah data Country

In [ ]:
df2['country'] = df2['country'].str.replace('usa', 'USA')
pd.set_option('display.max_rows', None)
df2['country']

## 13.Hasil Data setelah di edit

In [ ]:
pd.set_option('display.max_rows', None)
df2

# Ekspor Data

In [ ]:
# Install library openpyxl for xlsx
!pip install openpyxl

from google.colab import files
df2.to_excel('IMDB_Clean.xlsx', index=False)
files.download('IMDB_Clean.xlsx')

In [ ]:
df2.to_excel('/content/drive/MyDrive/MIKTI/Dataset/IMDB_Clean.xlsx', index=False)